body {
    background-image: linear-gradient(to bottom, #051937, #19476b, #2f7a9f, #4cb2d1, #74edff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.menuTopo a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.8s ease;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(+20px);
    }
}

.textoTitulo {
    display: inline-block;
    border: 1px solid rgba(255, 105, 230, 0.25);
    padding: 1vh 1vw;
    background: rgba(130, 255, 207, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    margin: 1vh 0 0 1vh;
    animation: float 3s infinite;
}



.menuTopo {
    position: relative;
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    max-width: 1000vw;
    padding: 2vh 2vw;
    background: rgba(130, 255, 207, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(255, 105, 230, 0.25);
    margin: 1vh 3vw 0 1vw;
}

.menuTopo ul {
    display: flex;
    margin-right: 0;
    padding-left: 0;
    list-style-type: none;
    font-size: 18px;
}

.menuTopo ul input {
    margin-right: 0;
    margin-left: auto;
    padding: 0.8vh 0.8vw;
    border-radius: 1rem;
    width: 200px;
}

.grow {
    margin: 0 12px;
}


.grow {
    position: relative;
    margin: 12px;
    padding-bottom: 3px;
    color: #d9d9d9;
    transition: all .8s;


}

.menuTopo ul input {
    margin-right: 0;
    margin-left: 18vw;
    padding: 0.8vh 0.8vw;
    border-radius: 1rem;
    width: 200px;
    clear: right;

}

.grow:hover {
    color: #fff;
}

.grow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
      transition: width .8s;

}

.grow:hover::before,
.grow.active::before {
    width: 100%;
}


.meio {
    display: flex;
    justify-content: space-around;
    background: rgba(130, 255, 207, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(255, 105, 230, 0.25);
    padding: 02vh 02vw;
    margin: 0 3vw 0 2vw;
}

.centroTopo {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}



.textoimagem1 {
    display: flex;
    border: solid;
    width: 25vw;
    border-radius: 1rem;
    margin: 10px 5px 0 0;
    padding: 5vh;
    background-color: white;
    background-image: url(fisiculturista-feminina-treinando-triceps-no-ginasio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.texto1 {
    width: 75vw;
    display: flex;
    border: solid;
    border-color: white;
    border-radius: 1rem;
    margin: 10px 5px 0 0;
    padding: 5vh;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}




.desenvolvimento {

    border-radius: 1rem;
    background: rgba(130, 255, 207, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(129, 255, 238, 0.25);
    margin: 100px 3vw 0 2vw;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;

}

.t1,
.t2,
.t3 {
    border: solid;
    border-color: white;
    border-radius: 1rem;
    margin: 5vh 3vw 2vh 3.5vw;
    width: 25vw;
    height: 75vh;
    text-align: center;
}

.fim {

    border: none;
    margin: 25vh 0 0 0;
    height: 15vh;
    text-align: center;
    padding-top: 10vh;
    background: rgba(130, 255, 207, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(129, 255, 238, 0.25);



}

.fim p {

    display: inline;
    padding-left: 2vw;
    padding-right: 2vw;


}

.final {

    display: block;
    position: static;
    bottom: 0;
    text-align: center;
    background: rgba(130, 255, 207, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(129, 255, 238, 0.25);

}